In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data2.csv')

In [3]:
data.describe()

,post_id,user_id,reply_to_post_num,topic_id,post_num,reply_count,num_reads
count,36397.000000,36397.000000,17237.000000,36397.000000,36397.000000,36397.000000,36397.000000
mean,37527.276644,4878.901888,5.928352,13509.713548,5.863230,0.482018,103.483529
std,21861.157010,5865.412457,4.547935,7979.240692,4.678113,0.630303,83.410626
min,48.000000,2.000000,1.000000,33.000000,1.000000,0.000000,12.000000
25%,18161.000000,9.000000,2.000000,5836.000000,2.000000,0.000000,57.000000
50%,37798.000000,1686.000000,5.000000,14034.000000,4.000000,0.000000,82.000000
75%,56512.000000,10538.000000,8.000000,20411.000000,8.000000,1.000000,121.000000
max,74781.000000,17836.000000,26.000000,26766.000000,28.000000,5.000000,1470.000000

In [4]:
data.shape

(36397, 12)

In [5]:
data['forum_name'] = 'airline'

In [6]:
data.head()

,post_text,post_id,user_id,username,reply_to_post_num,topic_id,post_num,reply_count,created at,updated_at,num_reads,topic_slug,forum_name
0,<p>Hey all - April credited 96 trips (~ 84 hou...,74622,2954,JLascomb,NaN,26739,1,0,2020-05-29T23:32:09.974Z,2020-05-29T23:32:09.974Z,77,southwest-may-2020-schedule,airline
1,"<p>It’s great to see a rebound, even if it’s s...",74769,17519,Seuk,NaN,26739,2,1,2020-06-03T13:50:24.022Z,2020-06-03T13:50:56.027Z,36,southwest-may-2020-schedule,airline
2,<p>This articles takes a look at some of those...,74773,2954,JLascomb,2.0,26739,3,1,2020-06-03T16:30:43.643Z,2020-06-03T16:30:43.643Z,33,southwest-may-2020-schedule,airline
3,<p>Thanks for your reply and the link. It cert...,74781,17519,Seuk,3.0,26739,4,0,2020-06-03T20:16:33.051Z,2020-06-03T20:16:33.051Z,26,southwest-may-2020-schedule,airline
4,<p>Hi everyone! I have my Introductory Flight ...,70873,17226,amandabearden1,NaN,25527,1,0,2020-02-27T17:29:54.485Z,2020-02-27T17:29:54.485Z,84,starting-lawrenceville-location-june-2020,airline

In [7]:
data.dtypes

post_text             object
post_id                int64
user_id                int64
username              object
reply_to_post_num    float64
topic_id               int64
post_num               int64
reply_count            int64
created at            object
updated_at            object
num_reads              int64
topic_slug            object
forum_name            object
dtype: object

In [8]:
data['post_text'][0]

'<p>Hey all - April credited 96 trips (~ 84 hours) of pay with 21 days off. Definitely much improved on loads this month, seeing quite a few full to the new limited capacity (~67%). It was rare to see less than 40 people per flight by the end of the month and noticed a LOT more people in the airport terminals. Hoping to see this trend continue!</p>\n<ol>\n<li>MCO-HOU (DH)</li>\n<li>HOU-MAF-LAS-PHX-MCO (1st leg DH)</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>MCO-DEN-STL</li>\n<li>STL-BWI-ISP-BWI-JAX</li>\n<li>JAX-HOU-ATL-GSP</li>\n<li>GSP-ATL-MDW-MCO</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>MCO-DEN-STL</li>\n<li>STL-BWI-ISP-BWI-JAX</li>\n<li>JAX-HOU-ATL-GSP</li>\n<li>GSP-ATL-MDW-MCO</li>\n<li>OFF</li>\n<li>OFF</li>\n<li>OFF</li>\n</ol>'

In [9]:
data['post_text'] = data['post_text'].str.replace('<[^<]+?>', '')
data['post_text'] = data['post_text'].str.replace('\n', ' ')

In [10]:
data['post_text'][0]

'Hey all - April credited 96 trips (~ 84 hours) of pay with 21 days off. Definitely much improved on loads this month, seeing quite a few full to the new limited capacity (~67%). It was rare to see less than 40 people per flight by the end of the month and noticed a LOT more people in the airport terminals. Hoping to see this trend continue!  MCO-HOU (DH) HOU-MAF-LAS-PHX-MCO (1st leg DH) OFF OFF OFF OFF OFF OFF OFF OFF OFF OFF OFF MCO-DEN-STL STL-BWI-ISP-BWI-JAX JAX-HOU-ATL-GSP GSP-ATL-MDW-MCO OFF OFF OFF OFF OFF OFF OFF MCO-DEN-STL STL-BWI-ISP-BWI-JAX JAX-HOU-ATL-GSP GSP-ATL-MDW-MCO OFF OFF OFF '

In [11]:
data.to_csv('airline_forum_updated.csv', sep='\t')